# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/
env/

# Local configurations
.env

# IDE / Project files
.DS_Store
.vscode/
.idea/

# Run-time downloaded assets
assets/


